<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
h1 {
    color: powderblue;
    font-family: verdana;
    font-size: 200%;
    text-align: left;
}

p {
    color: grey;
    font-family: times;
    font-size: 100%;
    border: 1px solid grey;
}

input[type=text] {
  background-color: grey;
}
input[type=number] {
  background-color: lightyellow;
}
button {
  width 150px;
  hieght 40px
  background-color: grey;
}
button:hover {
  background-color: lightgreen;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.container > div {
  background-color: lightyellow;
  font-size: 20px;
  margin: 15px;
  padding: 15px;
  width: auto;
}
</style>
