h1 {
    color: powderblue;
    text-align: center;
}

p {
    color: grey;
}

p {
  border: 1px solid grey;
}

h1 {
  color: lightblue;
  font-family: verdana;
  font-size: 200%;
}
p  {
  color: grey;
  font-family: times;
  font-size: 100%;
}
